---
---
{% include fragment-pagebegin.html %}
{% assign excludexml = site.data.info.excludexml | downcase | slice: 0 %}
{% assign excludejson = site.data.info.excludejson | downcase | slice: 0 %}
{% assign excludettl = site.data.info.excludettl | downcase | slice: 0 %}
<div style="counter-reset: section 6" class="col-12">
  <ul class="nav nav-tabs">
    <li>
      <a href="conceptmap-uv-livd.html">Content</a>
    </li>
    <li>
      <a href="conceptmap-uv-livd-definitions.html">Detailed Descriptions</a>
    </li>
    <li>
      <a href="conceptmap-uv-livd-mappings.html">Mappings</a>
    </li>
    <li class="active">
      <a href="#">Examples</a>
    </li>
{% unless excludexml == 'y' %}
    <li>
      <a href="conceptmap-uv-livd.profile.xml.html">XML</a>
    </li>
{% endunless %}
{% unless excludejson == 'y' %}
    <li>
      <a href="conceptmap-uv-livd.profile.json.html">JSON</a>
    </li>
{% endunless %}
{% unless excludettl == 'y' %}
    <li>
      <a href="conceptmap-uv-livd.profile.ttl.html">Turtle</a>
    </li>
{% endunless %}
  </ul>
  <a name="root"> </a>
  <h2 id="root">StructureDefinition: A map from one set of concepts to one or more other concepts - Examples</h4>
  {% assign intro = site.data.pages[page.path].intro %}
  {% if site.data.pages[page.path].intro != null %}
  <div style="display:inline-block">
  {% include {{intro}} %}
  </div>
  {% endif %}
  
{% assign basepath = page.path | replace: '-examples.html', '.html' %}
{% if site.data.pages[basepath].examples.size > 0 %}
  <p>Examples for the conceptmap-uv-livd Profile.</p>
  <table style="grid">
    <tbody>
      {% for example in site.data.pages[basepath].examples %}
        <tr>
          <td>
            <a href="{{example.url}}">{{example.title}}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><b>No examples are currently available for the {{id}} Profile.</b></p>
{% endif %}

  {% assign notes = site.data.pages[page.path].notes %}
  {% if site.data.pages[page.path].notes != null %}
  <div style="display:inline-block">
  {% include {{notes}} %}
  </div>
  {% endif %}
</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}