<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Introduction</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">General Principles and Design<b class="caret"> </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="general-summary.html">LOINC Mapping Summary</a></li>
      <li><a href="general-concepts.html">LIVD Concepts</a></li>
      <li><a href="general-definitions.html">LIVD Data Definitions</a></li>
      <li><a href="general-mapping.html">LIVD Data Mapping to FHIR</a></li>
      <li><a href="general-implementation.html">Implementation Considerations</a></li>
    </ul>
  </li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li><a href="artifacts.html">Artifacts</a></li>
  <li><a href="glossary.html">Glossary</a></li>
  <li><a href="acknowledgements.html">Acknowledgements</a></li>
  <li><a href="downloads.html">Downloads</a></li>
  <li><a href="{{site.data.fhir.path}}index.html">Core FHIR Spec</a></li>
</ul>      
